{
 ; what to emit instead of defn, if you have another defn macro
 :defn-macro nil

 ;; Nilable map of Expound configuration options.
 :expound    {:show-valid-values? true
              :print-specs?       true}

 ;; Check specs in parallel (CLJ only)
 :async? false

 ;; should a spec failure on args or ret throw an execption?
 ;; (always logs an informative message)
 :throw?     true

 ;; should a spec failure be forwarded through tap> ?
 :tap>?      false}